#app {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header {
  background-color: white;
  border-bottom: 2px solid lightgray;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  #header-buttons {
    display: flex;
    gap: 10px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}