body {
  margin: 0;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header {
  background-color: white;
  border-bottom: 2px solid lightgray;
  padding: 6px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  #header-buttons {
    display: flex;
    gap: 10px;
  }
}

search {
  margin: 12px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 840px) {
    #filter-button {
      grid-area: filter;
    }

    #search-bar {
      grid-area: search;
      align-self: center;
    }

    #sort-button {
      grid-area: sort;
    }

    display: grid;
    grid-template-areas:
      "search search search"
      "filter . sort";
  }
}

main {
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;

  @media (max-width: 900px) {
    grid-auto-rows: 200px;
  }

  @media (max-width: 600px) {
    grid-auto-rows: 100px;
  }
}
