body {
  margin:0;
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header {
  background-color: white;
  border-bottom: 2px solid lightgray;
  padding: 6px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;

  #header-buttons {
    display: flex;
    gap: 10px;
  }
}

search {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
}