.card {
  border-radius: 10px;
  background-size: cover;

  background-blend-mode: darken;
  transition: background-color 0.3s ease;

  display: flex;

  .name {
    color: white;
  }

  .num-rooms {
    display: flex;

    background-color: white;
    padding: 10px;
    border-radius: 10px;

    .green-circle {
      background-color: limegreen;
      height: 10px;
      aspect-ratio: 1 / 1;

      margin-right: 10px;
      border-radius: 50%;

      align-self: center;
    }
  }
}

@media not (max-width: 600px) {
  .card {
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;

    .name {
      background-color: darkorange;
      padding: 10px;
      color: white;
      border-radius: 10px;
    }

    .num-rooms {
      align-self: flex-end;
    }
  }

  .card:hover {
    background-color: orange;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
  }

  .card:hover {
    background-color: hsl(40, 100%, 25%);
  }
}
