#search-bar {
  position: relative;
  width: 100%;
  max-width: 800px;

  img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    filter: brightness(0.5);
  }

  input {
    font-size: medium;
    height: 40px;
    width: calc(100% - 43px);
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 40px;
  }
}
